{% extends "base.html" %}

{% block title %}
Admin | Talkie
{% endblock %}

{% block content %}

<h1 class="text-2xl">Chat Admin</h1>

{% if perms.user.add_user %}
<div >
    <h1 class="text-2xl">Users</h1>
    <a href="{% url 'chat:add_user' %}">
    <button class="btn">Add User</button>
    </a>
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->

            {% for user in users %}

            <tr class="{% cycle 'bg-gray-700' '' %}">
              <td><a href="{% url 'chat:user_detail' user.pk %}">{{user.name}}</a></td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td><a href="{% url 'chat:edit_user' user.pk %}">Edit</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</div>
{% endif %}

<hr class="my-6">

<div class="mt-8">
    <h2 class="mb-4 text-lg">Rooms</h2>
    {% include 'chat/partials/room_list.html' %} 
</div>

{% endblock %}