{% extends "base.html" %}

{% block title %}
Home | Talkie
{% endblock %}

{% block content %}
{% load static %}
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="{% static 'images/talkie.jpg' %}"
        class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Welcome to Talkie..</h1>
        <p class="py-6">
          Talkie is a Realtime Chat App <br> In which you Can Create or Join Room To Talk. So Lets Get Started it.
        </p>
        <a href="{% url 'about_page' %}"><button class="btn bg-cyan-300 text-gray-800 hover:text-cyan-300">About Us.</button></a>
      </div>
    </div>
  </div>


{% include 'chat/partials/chat_bubble.html' %}
{% endblock %}